.analysis-conclusion {
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  background: #f9fafb;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.analysis-cconclusion h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: lightskyblue;
}